<h5>Dishley House</h5>
<h2>What do you feel like tonight?</h2>

<div id="map"></div>

<% @restaurants.group_by(&:category_name).each do |key, collection| %>
  <div id="restaurant-category-<%= key.downcase %>">
    <h1><%= key %></h1>
    <% collection.each do |restaurant| %>
      <div id="restaurant-<%= restaurant.id %>">
        <%= restaurant.name %>
        <%= link_to 'Visit', restaurant_path(restaurant) %>
      </div>
    <% end %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  var restaurants = <%= raw @restaurants.to_json %>;
</script>
