<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.description %></p>

<% @restaurant.menus.each do |menu| %>
  <div id="menu-<%= menu.id %>">
    <h2> <%= menu.name %> </h2>
    <% menu.product_categories.each do |product_category| %>
    <div id="product_category-<%= product_category.id %>">
      <h3><%= product_category.name %></h3>
      <% product_category.products.each do |product| %>
        <div id="product-<%= product.id %>">
           <h4><%= product.name %></h4>
           <p><%= product.description %></p>
           <p><%= product.price %></p>
        </div>
      <% end %>
    </div>
  <% end %>
  </div>
<% end %>