%nav#navbar.navbar.navbar-light.navbar-black
  %ul.nav.justify-content-start.padding-left-nav
    %li.nav-item.active
      = link_to 'Home', root_path, class: 'nav-link'
  %ul.nav.justify-content-center
    %li.nav-item.nav-logo Dishley
  %ul.nav.justify-content-end.padding-right-nav
    - if current_user
      %li.nav-item
        %span
          Logged in as:
          %strong= current_user.email
      %li.nav-item
        = link_to 'Logout', destroy_user_session_path, method: :delete
    - else
      %li.nav-item
        = link_to 'Log in', new_user_session_path unless current_page? new_user_session_path
        = link_to 'Sign up', new_user_registration_path unless current_page? new_user_registration_path
      %li.nav-item
        - if session[:order_id]
          = link_to 'Order', order_path(session[:order_id]), class: 'nav-link'
